%h1 15 Piece Puzzle Game

#game-board
  - (1..4).each do |row|
    %div{ class: "row row-#{row}", "data-row" => row }
      - (1..4).each do |col|
        %div{ class: "col row-#{row} col-#{col}", "data-row" => row, "data-col" => col }
          .text-holder
