@import "bootstrap";

/* mixins, variables, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* game board */
#game-board {
  border: 1px black solid;
  width: 400px;
  height: 400px;
  margin: 35px auto 20px auto;
  position: relative;

  .box.row-0.col-0 {
    background:url('puppies.png') 0px 0px;
  }

  .box.row-0.col-1 {
    background:url('puppies.png') -100px 0;
  }

  .box.row-0.col-2 {
    background:url('puppies.png') -200px 0;
  }

  .box.row-0.col-3 {
    background:url('puppies.png') -300px 0;
  }

  .box.row-1.col-0 {
    background:url('puppies.png') 0px -100px;
  }

  .box.row-1.col-1 {
    background:url('puppies.png') -100px -100px;
  }

  .box.row-1.col-2 {
    background:url('puppies.png') -200px -100px;
  }

  .box.row-1.col-3 {
    background:url('puppies.png') -300px -100px;
  }

  .box.row-2.col-0 {
    background:url('puppies.png') 0 -200px;
  }

  .box.row-2.col-1 {
    background:url('puppies.png') -100px -200px;
  }

  .box.row-2.col-2 {
    background:url('puppies.png') -200px -200px;
  }

  .box.row-2.col-3 {
    background:url('puppies.png') -300px -200px;
  }

  .box.row-3.col-0 {
    background:url('puppies.png') 0 -300px;
  }

  .box.row-3.col-1 {
    background:url('puppies.png') -100px -300px;
  }

  .box.row-3.col-2 {
    background:url('puppies.png') -200px -300px;
  }

  .box.row-3.col-3 {
    background:url('puppies.png') -300px -300px;
  }

  .box {
    outline: 1px black solid;
    width: 100px;
    height: 100px;
    position: absolute;

    .text-holder {
      text-align: center;
      margin-top: 40px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: white;
      font-weight: bolder;
    }

    &.row-0 {
      top: 0;
    }

    &.row-1 {
      top: 100px;
    }

    &.row-2 {
      top: 200px;
    }

    &.row-3 {
      top: 300px;
    }

    &.col-0 {
      left: 0;
    }

    &.col-1 {
      left: 100px;
    }

    &.col-2 {
      left: 200px;
    }

    &.col-3 {
      left: 300px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}