@import "bootstrap";

/* mixins, variables, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* game board */
#game-board {
  border: 1px black solid;
  width: 400px;
  height: 400px;
  margin: 35px auto 20px auto;
  position: relative;

  .box {
    outline: 1px black solid;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url('puppies.png');

    .text-holder {
      text-align: center;
      margin-top: 40px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: white;
      font-weight: bolder;
    }

    @for $x from 0 through 3 {
      &.row-#{$x} {
        top: (100px * $x);

        @for $i from 0 through 3 {
          &.col-#{$i} {
            background-position: (-100px * $i) (-100px * $x);
          }
        }
      }
    }

    @for $i from 0 through 3 {
      &.col-#{$i} {
        left: $i * 100px;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}