@import "bootstrap";

/* mixins, variables, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* game board */
#game-board {
  border: 1px black solid;
  width: 400px;
  height: 400px;
  margin: 35px auto 0 auto;

  .row {
    border-bottom: 1px black solid;
    height: 99px;
    width: 400px;
    margin-left: 0px;

    &:last-of-type {
      border: none;
    }

    .col {
      border-right: 1px black solid;
      height: 100px;
      width: 96px;
      display: inline-block;
      margin: 0;
      padding: 0;

      &:last-of-type {
        border: none;
      }

      .text-holder {
        width: 50;
        height: 50;
        margin: 25px auto 0 auto;
        display: inline-block;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}